@model Spange.Models.Player

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <h2>Edit</h2>

    <form asp-action="Edit">
        <div class="form-horizontal">
            <h4>Player</h4>
            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlayerId" />
            <div class="form-group">
                <label asp-for="Name" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Appeal" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="Appeal" class="form-control" />
                    <span asp-validation-for="Appeal" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurrentHp" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="CurrentHp" class="form-control" />
                    <span asp-validation-for="CurrentHp" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ImgLink" class="col s2 control-label"><img src="@Model.ImgLink" alt="avatar" style="height: 50px;" /></label>
                <div class="col s10">
                    <input asp-for="ImgLink" class="form-control" />
                    <span asp-validation-for="ImgLink" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MaxHp" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="MaxHp" class="form-control" />
                    <span asp-validation-for="MaxHp" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Satiation" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="Satiation" class="form-control" />
                    <span asp-validation-for="Satiation" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Sleep" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="Sleep" class="form-control" />
                    <span asp-validation-for="Sleep" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Spange" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="Spange" class="form-control" />
                    <span asp-validation-for="Spange" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="col s2 control-label"></label>
                <div class="col s10">
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col s2">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<div class="row">
    @foreach (var gear in ViewBag.AllGear)
    {
        <div class="card small">
            <div class="card-image">
                <img src="@gear.ImgLink" alt="gear photo" />
                <span class="card-title">@gear.Name</span>
            </div>
            <div class="card-content">
                <p>
                    @gear.Description
                </p>
                @using (Html.BeginForm())
                {
                    <input hidden name="playerId" value=""
                    <a class="btn waves waves-light" asp-action="JackGear" asp-controller="Players">Jack this @gear.Name</a>
                }
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}