@model IEnumerable<Spange.Models.Gear>

@{
    ViewData["Title"] = "Gear";
}

<h2>Gear</h2>

<p>
    <a asp-action="Create">Create New Gear</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GutterPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetPrice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CookBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PitchBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SympathyBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreatBonus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImgLink)" alt="gear picture" style="width:200px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GutterPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CookBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PitchBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SympathyBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreatBonus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GearId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GearId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GearId">Delete</a>
            </td>
        </tr>
    }
</table>